<ol class="breadcrumb">
  <li class="breadcrumb-item active">Customers</li>
</ol>
<div class="container">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Address</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let customer of customerList" (click)="routeToCustomerDetail(customer.$loki)">
          <td>{{customer.$loki}}</td>
          <td>{{customer.name}}</td>
          <td>
            {{customer.address}}<br>
            {{customer.city}}, {{customer.state}} {{customer.postalCode}}
          </td>
          <td>{{customer.url}}</td>
        </tr>
      </tbody>
    </table>
</div>